# Environment variables for NLtoSPARQL

# OpenRouter Configuration
OPENROUTER_API_KEY=your_api_key

#Jena Fuseki configuration:
FUSEKI_ADMIN_PASSWORD=verysafepassword

# Logging
LOG_LEVEL=INFO
LOG_FILE=logs/nltosparql.log
